<h1>Welcome to My Blog</h1>
<p>Content below</p>

<h2>2025</h2>
<ul>
    <li><a href="content/building_in_2025.html" hx-get="content/building_in_2025.html" hx-target="#content" hx-swap="innerHTML">Building in 2025</a></li>
</ul>

<h2>2024</h2>
<ul>
    <li><a href="content/building_in_2025.html" hx-get="content/building_in_2025.html" hx-target="#content" hx-swap="innerHTML">Building in 2025</a></li>
    <li><a href="content/data-mangagement.html" hx-get="content/data-mangagement.html" hx-target="#content" hx-swap="innerHTML">Data Management</a></li>
    <li><a href="content/bloging-in-html.html" hx-get="content/bloging-in-html.html" hx-target="#content" hx-swap="innerHTML">Blogging in HTML</a></li>
    <li><a href="content/email-hosting.html" hx-get="content/email-hosting.html" hx-target="#content" hx-swap="innerHTML">Email Hosting</a></li>
</ul>
