<h1> No Big Tech </h1>

<p>
Part of my contrarian atittued towards everything has always drawn me to find
ways in which I can find alternatives to the norm, and being a tech nerd,
that has often meant how to avoid using big tech and relying only on open
source.
</p>

<p>
I would be lying though if I said that I have always been an open-source user.
There have been several spots on my life where I have sucumbeed to the ease of
use of big tech, and deemed the effort requried to live an open-source life too
much of a hasle. I'm in the process of going back to open-source and hopefully
for the last time. This posts aims to keep track of all the things that I'm
doing and how to implement them. In a way, this is just a public to-do list to
keep me honest.
</p>


<h2>The List</h2>


<ul>
    <li><a href="cardav-server.html" hx-get="content/cardav-server.html"
                                     hx-target="#content" hx-swap="innerHTML">
            ✅ Setting a CalDav/Cardav server</a></li>
    <li>Getting your own domain</li>
    <li><a href="email-hosting.html" hx-get="content/email-hosting.html" hx-target="#content" hx-swap="innerHTML">✅ Moving your email to your own personal domain</a></li>
    <li>Self-hosting your photos</li>
    <li>Self-hosting core documents</li>
    <li>Task management</li>
</ul>
